### IntelliJ
.idea/
*.iml

### Gradle
.gradle/
build/
**/build/
out/

### Spring Boot Logs
*.log
logs/

### Environment config (keep secret)
application-local.yml
application-local.properties
.env

### JVM / Java
*.class
*.jar
*.war
*.ear

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

### Temporary
*.tmp
*.swp
*.swo
*.lock
*.bin

### OS Junk
.DS_Store
Thumbs.db
Desktop.ini
